.header p {
    text-align: center;
}

.header p a,
.header p b {
    font-size: 14px;
    font-weight: bold;
}

.header b {
    text-align: right;
    width: 95%;
    display: inherit;
}

.header pre {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}

.logo {
    font-style: inherit;
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    .logo {
        font-size: 20px;
        font-weight: bolder;
    }

    .header {
        text-align: center;
    }
}